{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="/static/https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <title>Attendance System - Profile Page</title>
    
   
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/assets/css/fontawesome.css">
    <link rel="stylesheet" href="/static/assets/css/templatemo-grad-school.css">
    <link rel="stylesheet" href="/static/assets/css/owl.css">
    <link rel="stylesheet" href="/static/assets/css/lightbox.css">

  </head>

<body>
 <!--header-->
 <header class="main-header clearfix" role="header">
    <div class="logo">
      <a href=" /" class="external"><em>Face</em>Logix</a>
    </div>
    <a href="/static/#menu" class="menu-link"><i class="fa fa-bars"></i></a>
    <nav id="menu" class="main-nav" role="navigation">
      <ul class="main-menu">
        <li><a href=" /" class="external">Home</a></li>
        <li class="has-submenu"><a href="/aboutus">About Us</a>
          <ul class="sub-menu">
            <li><a href="#section2">Who we are?</a></li>
            <li><a href="#section3">What we do?</a></li>
            <li><a href="#section3">How it works?</a></li>
         </ul>
        </li>
        <li><a href="/contact" class="external">Contact</a></li>
        <li><a href="/login" class="external">Login</a></li>
        <li><a href="/profile" class="external">Profile</a></li>
      </ul>
    </nav>
  </header>