<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="/static/https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>FaceLogix Attendance System</title>
    
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/assets/css/fontawesome.css">
    <link rel="stylesheet" href="/static/assets/css/templatemo-grad-school.css">
    <link rel="stylesheet" href="/static/assets/css/owl.css">
    <link rel="stylesheet" href="/static/assets/css/lightbox.css">

  </head>

<body>

   
  <!--header-->
  <header class="main-header clearfix" role="header">
    <div class="logo">
      <a href=" " class="external"><em>Face</em>Logix</a>
    </div>
    <a href="/static/#menu" class="menu-link"><i class="fa fa-bars"></i></a>
    <nav id="menu" class="main-nav" role="navigation">
      <ul class="main-menu">
        <li><a href="/static/#section1">Home</a></li>
        <li class="has-submenu"><a href="/aboutus" class="external">About Us</a>
          <ul class="sub-menu">
            <li><a href="/static/#section2">Who we are?</a></li>
            <li><a href="/static/#section3">What we do?</a></li>
            <li><a href="/static/#section3">How it works?</a></li>
          </ul>
        </li>
        <li><a href="/contact" class="external">Contact</a></li>
        <li><a href="/login" class="external">Login</a></li>
        <li><a href="/profile" class="external">Profile</a></li>
      </ul>
    </nav>
  </header>

  <!-- ***** Main Page part Start ***** -->
  <section class="section main-banner" id="top" data-section="section1">
      <video autoplay muted loop id="bg-video">
          <source src="/static/assets/images/video (2160p) (1).mp4" type="video/mp4" />
      </video>

      <div class="video-overlay header-text">
          <div class="caption">
              <h6>Facelogix Attendance Suite </h6>
              <h2><em>Digital</em> Attendance</h2>
              <div class="main-button">
                  <div class="external"><a href="/register/">Register Now</a></div>
              </div>
          </div>
      </div>
  </section>
  <!-- ***** Main part End ***** -->


  <section class="features">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-12">
          <div class="features-post">
            <div class="features-content">
              <div class="content-show">
                <h4><i class="fa fa-pencil"></i>MANAGE RECORDS</h4>
              </div>
              <div class="content-hide">
                <p>Managing a person’s daily activities, entry time, and exit time are tough. Managing the same thing for hundreds of people is even more difficult. Imagine if someone asked you about an students’ attendance details from the past month. It will take you some time to go back and forth to get those details. But not with automatic attendance management.</p>
                <p class="hidden-sm">Curabitur id eros vehicula, tincidunt libero eu, lobortis mi. In mollis eros a posuere imperdiet.</p>
            </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-12">
          <div class="features-post second-features">
            <div class="features-content">
              <div class="content-show">
                <h4><i class="fa fa-graduation-cap"></i>Accuracy</h4>
              </div>
              <div class="content-hide">
                <p>The accuracy of the data is crucial to the success of these systems. It is difficult to keep track of the arrival and departure of each student in an organization. Therefore, Face Recognition Systems are useful for tracking time and attendance accurately. As the tracking is done in real-time, attendance system reports based on face recognition are more accurate and error-free.</p>
                <p class="hidden-sm">Curabitur id eros vehicula, tincidunt libero eu, lobortis mi. In mollis eros a posuere imperdiet.</p>
            </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-12">
          <div class="features-post third-features">
            <div class="features-content">
              <div class="content-show">
                <h4><i class="fa fa-book"></i>Time Saving</h4>
              </div>
              <div class="content-hide">
                <p>As they say, saving time is equal to saving money. And saving time at the college can boost productivity. Face recognition attendance systems have proven to help manage time and transform the college atmosphere. Face Recognition App means ‘no paperwork’, which ultimately saves time and money, providing accurate data instantly.</p>
                <p class="hidden-sm">Curabitur id eros vehicula, tincidunt libero eu, lobortis mi. In mollis eros a posuere imperdiet.</p>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section why-us" data-section="section2">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Why choose FaceLogix Attendance Suite?</h2>
          </div>
        </div>
        <div class="col-md-12">
          <div id='tabs'>
            <ul>
              <li><a href='#tabs-1'>Automated Time-Tracking</a></li>
              <li><a href='#tabs-2'>No more buddy punching</a></li>
              <li><a href='#tabs-3'>Futuristic</a></li>
            </ul>
            <section class='tabs-content'>
              <article id='tabs-1'>
                <div class="row">
                  <div class="col-md-6">
                    <img src="/static/assets/images/choose-us-image-01.png" alt="">
                  </div>
                  <div class="col-md-6">
                    <h4>Automated Time-Tracking</h4>
                    <p>Entry and exit monitoring can be totally automated with facial recognition attendance systems. The powerful analytics in the system can locate and recognize faces without the need for human interference or physical verification. Tracking field employees’ work time is simple by using facial recognition.</p>
                    <p>Each employee’s attendance, overtime, and leave can be reliably tracked using a face recognition attendance system. As an outcome, deception via proxy attendance is not feasible by scanning ID cards or signing on behalf of others. You’ll also have reliable logs of who was present on-site and when.</p>
                  </div>
                </div>
              </article>
              <article id='tabs-2'>
                <div class="row">
                  <div class="col-md-6">
                    <img src="/static/assets/images/choose-us-image-02.png" alt="">
                  </div>
                  <div class="col-md-6">
                    <h4>No more buddy punching</h4>
                    <p>A common issue in traditional attendance systems where student clock in on behalf of their colleagues.</p> 
                    <p>By accurately identifying individuals based on unique facial features, the system ensures that only authorized individuals can mark their attendance, thereby enhancing accuracy and reducing fraudulent timekeeping practices.</p>
                    <p>This technology contributes to a more reliable and secure attendance tracking process in various professional environments.</p>
                  </div>
                </div>
              </article>
              <article id='tabs-3'>
                <div class="row">
                  <div class="col-md-6">
                    <img src="/static/assets/images/choose-us-image-03.png" alt="">
                  </div>
                  <div class="col-md-6">
                    <h4>Futuristic</h4>
                    <p>Facial recognition attendance is futuristic due to its seamless and contactless nature, eliminating the need for physical identification methods.</p>
                    <p> Its real-time accuracy, integration with advanced algorithms, and adaptability showcase a cutting-edge approach to streamline attendance tracking, enhancing efficiency and security in various domains.</p>
                  </div>
                </div>
              </article>
            </section>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section video" data-section="section5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 align-self-center">
          <div class="left-content">
            <span>our presentation is for you</span>
            <h4>Check the website to learn more <em>about Face Recognition </em></h4>
            <p>Face recognition is a biometric technology that involves identifying and verifying individuals based on facial features. It employs algorithms to analyze unique facial patterns, such as the distance between eyes, nose, and mouth, enabling accurate identification for security, authentication, and surveillance purposes.
            <br><br>Advances in deep learning have significantly improved the performance of face recognition systems in recent years.</p>
            <div class="main-button"><a rel="nofollow" href="https://us.norton.com/blog/iot/how-facial-recognition-software-works#:~:text=Facial%20recognition%20uses%20technology%20and,but%20also%20raises%20privacy%20issues." target="_parent">External URL</a></div>
          </div>
        </div>
        <div class="col-md-6">
          <article class="video-item">
            <div class="video-caption">
              <h4>How it works ?</h4>
            </div>
            <figure>
              <a href="https://youtu.be/k5Rj5pBT2c0?si=bdmwzKxbpibHo_Ij" class="play"><img src="/static/assets/images/abcd.jpg"></a>
            </figure>
          </article>
        </div>
      </div>
    </div>
  </section>

  <section class="section contact" data-section="section6">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Let’s Keep In Touch</h2>
          </div>
        </div>
        <div class="col-md-6">
        
      
                    
          <form id="contact" action="" method="post">
            <div class="row">
              <div class="col-md-6">
                  <fieldset>
                    <input name="name" type="text" class="form-control" id="name" placeholder="Your Name" required="">
                  </fieldset>
                </div>
                <div class="col-md-6">
                  <fieldset>
                    <input name="email" type="text" class="form-control" id="email" placeholder="Your Email" required="">
                  </fieldset>
                </div>
              <div class="col-md-12">
                <fieldset>
                  <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your message..." required=""></textarea>
                </fieldset>
              </div>
              <div class="col-md-12">
                <fieldset>
                  <button type="submit" id="form-submit" class="button">Send Message Now</button>
                </fieldset>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-6">
          <div id="map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13564.703262256466!2d72.64428008879759!3d23.235809472896953!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395c2b933477ba9f%3A0xe440409e66bea08a!2sLDRP%20Institute%20of%20Technology%20and%20Research!5e0!3m2!1sen!2sin!4v1702619822348!5m2!1sen!2sin" width="500" height="425" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>    </div>
        </div>
      </div>
    </div>
  </section>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p>Contact with us : student at LDRP-ITR, GANDHINAGAR
          
           {% comment %} | Design By:  <br>
           Distributed By:  {% endcomment %}
          
          </p>
        </div>
      </div>
    </div>
  </footer>

  
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="/static/assets/js/isotope.min.js"></script>
    <script src="/static/assets/js/owl-carousel.js"></script>
    <script src="/static/assets/js/lightbox.js"></script>
    <script src="/static/assets/js/tabs.js"></script>
    <script src="/static/assets/js/video.js"></script>
    <script src="/static/assets/js/slick-slider.js"></script>
    <script src="/static/assets/js/custom.js"></script>
    <script>
        
        $('.nav li:first').addClass('active');

        var showSection = function showSection(section, isAnimate) {
          var
          direction = section.replace(/#/, ''),
          reqSection = $('.section').filter('[data-section="' + direction + '"]'),
          reqSectionPos = reqSection.offset().top - 0;

          if (isAnimate) {
            $('body, html').animate({
              scrollTop: reqSectionPos },
            800);
          } else {
            $('body, html').scrollTop(reqSectionPos);
          }

        };

        var checkSection = function checkSection() {
          $('.section').each(function () {
            var
            $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
            if (topEdge < wScroll && bottomEdge > wScroll) {
              var
              currentId = $this.data('section'),
              reqLink = $('a').filter('[href*=\\#' + currentId + ']');
              reqLink.closest('li').addClass('active').
              siblings().removeClass('active');
            }
          });
        };

        $('.main-menu, .scroll-to-section').on('click', 'a', function (e) {
          if($(e.target).hasClass('external')) {
            return;
          }
          e.preventDefault();
          $('#menu').removeClass('active');
          showSection($(this).attr('href'), true);
        });

        $(window).scroll(function () {
          checkSection();
        });
    </script>
</body>
</html>